.search-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}


.search-bar {
    height: 2rem;
    width: calc(100% - 1rem - 2px);
    float: left;
}

.search-bar input {
    height: 2rem;
    font-size: 1.3em;
    border: 1px solid rgba(0, 0, 0, 0.15);
    ;
    border-radius: .5rem;
    background-color: rgba(0, 0, 0, 0.1);
    color: #cdd9e5;
    width: 100%;
    padding: 0.5rem;
}